.css-smran7 {
    margin-top: auto;
    background-color: rgb(20, 22, 34);
}

.css-1d3r2lt {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 55px 30px;
    font-size: 14px;
    max-width: 1020px;
    margin: 0px auto;
}
.css-8at0mx {
    display: flex;
    flex-direction: column;
}
.css-z34z8j {
    margin: -9px 0px 20px;
    width: 30%;
    max-width: 200px;
}
.css-j2onl9 {
    font-size: 10px;
    margin-bottom: 16px;
    max-width: 310px;
}
.css-1sg2lsz {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-jsj4j0 {
    border: none;
}
.css-1c2cxsw {
    margin-top: -5px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 99px;
    color: rgba(177, 182, 198, 0.25);
    font-size: 28px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.css-1vfwx11 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 55px 30px;
    font-size: 14px;
    max-width: 1020px;
    margin: 0px auto;
}
.css-i0m45y {
    display: flex;
    flex-direction: column;
}

@media (max-width: 374px) {
    .css-i0m45y {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .css-i0m45y:first-of-type {
        width: 100%;
        margin: 20px 0px 0px;
        order: 100;
    }
}

@media (max-width: 800px) {
    .css-1vfwx11 {
        flex-wrap: wrap;
    }
}
@media (max-width: 440px) {
    .css-i0m45y {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .css-1vfwx11 {
        padding: 55px 16px;
    }
}
@media (max-width: 800px) {
    .css-i0m45y {
        margin-bottom: 30px;
    }
}
@media (max-width: 800px) {
    .css-i0m45y:first-of-type {
        width: 100%;
        margin: 20px 0px 0px;
        order: 100;
    }
}

@media (max-width: 1288px) {
    .css-1d3r2lt {
        flex-wrap: wrap;
    }
}