
.css-17zcsfw {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    padding: 50px;
    background: rgba(16, 18, 27, 0.6);
}
.css-15hip2x {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 805px;
    vertical-align: middle;
    border-radius: 10px;
    animation: 0.15s ease-out 0s 1 normal both running animation-1h5r8ub;
    background: rgb(26, 29, 41);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(255, 255, 255, 0.04) 0px 1px 0px inset, rgba(0, 0, 0, 0.25) 0px -4px 0px inset;
}

.css-1h2fqou {
    width: 100%;
    padding: 24px 40px 40px;
}
.css-lcqjyq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 6px;
    max-width: 100%;
    margin-bottom: 16px;
    margin-right: 30px;
}
.css-1mo5975 {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    overflow: auto hidden;
    scrollbar-width: none;
}
.css-1xat6c {
    display: none;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 6px;
}
.css-rhqiop {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    word-break: break-word;
    gap: 12px;
    font-size: 22px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.css-1d5ntxf {
    display: grid;
    -webkit-box-align: stretch;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 12px;
}
.css-1yhwmxl {
    border-radius: 8px;
    background: rgba(203, 215, 255, 0.03);
    display: inline-block;
    padding: 20px;
}
.css-1yhwmxl.disabled{
    opacity: 0.3;
}
.css-1yhwmxl.enabled{
    cursor: pointer;
}
.css-tt41bp {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 14px;
}
.css-bzek24 {
    display: inline-block;
    border-radius: 999px;
    width: 32px;
    min-width: 32px;
    height: auto;
}
.css-1v92hyt {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.css-h7b5qw {
    margin-top: 4px;
    color: rgb(177, 182, 198);
    text-align: center;
    font-size: 12px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.css-av8uu6 {
    width: 100%;
    padding: 32px;
}
.css-1bsu6qd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    word-break: break-word;
    gap: 12px;
    font-size: 22px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 800;
    font-style: normal;
    padding-right: 48px;
}
.css-1ms7584 {
    margin-bottom: 24px;
    line-height: 1.6;
    word-break: break-word;
    color: rgb(177, 182, 198);
    font-size: 14px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.css-x3ayqu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 16px;
    line-height: 1.6;
    color: #ffff;
    font-size: 14px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.css-1ms7584:last-of-type {
    margin-bottom: 0px;
}
.css-8uluvh {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 24px 32px;
    margin: 32px -32px -32px;
    background: rgba(203, 215, 255, 0.03);
    border-radius: 0px 0px 10px 10px;
}
.css-1ukjvr7 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 16px 12px;
    margin-bottom: 24px;
    border-radius: 8px;
    background: rgba(203, 215, 255, 0.03);
    font-size: 14px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: rgba(187, 0, 197, 0.144);
    color: var(--primary-color);
}

.css-1v87fmr {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 24px;
}
.css-11k5gmp {
    display: inline-block;
    flex: 0 0 auto;
    line-height: 0;
    width: 120px;
    min-width: 120px;
    height: auto;
}
.css-11k5gmp {
    display: inline-block;
    flex: 0 0 auto;
    line-height: 0;
    width: 120px;
    min-width: 120px;
    height: auto;
}
.css-75vlcg {
    width: 100%;
    max-width: 220px;
    margin-bottom: 24px;
}
.css-1ylvjsg {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    transition: all 0.1s ease 0s;
    appearance: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
    height: 40px;
    padding: 0px 20px;
    border-radius: 8px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    background: var(--primary-color);
    box-shadow: var(--primary-color) 0px 0px 10px, rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.15) 0px -3px 0px inset, var(--primary-color) 0px 0px 12px inset;
}
.css-1rzueyc {
    font-size: 14px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.css-75vlcg {
    width: 100%;
    max-width: 220px;
    margin-bottom: 24px;
}
.css-1f51ttt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    min-height: 50px;
    width: 100%;
    padding: 0px 5px 0px 15px;
    border-radius: 6px;
    border: 1px solid transparent;
    background: rgba(15, 17, 26, 0.55);
    transition: background 0.1s ease 0s;
}
.css-1f51ttt input, .css-1f51ttt textarea, .css-1f51ttt input:focus, .css-1f51ttt textarea:focus, .css-1f51ttt input:hover, .css-1f51ttt textarea:hover, .css-1f51ttt input:active, .css-1f51ttt textarea:active {
    outline: none;
    border: none;
    background: none;
}

.css-1f51ttt input, .css-1f51ttt textarea {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
.css-mpks89 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    word-break: break-word;
    gap: 12px;
    flex-wrap: wrap;
    font-size: 22px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.css-bofapj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    user-select: none;
}
.css-6opzgw {
    fill: currentcolor;
    width: 9px;
    min-width: 9px;
    height: auto;
}
.css-bzek24 {
    display: inline-block;
    border-radius: 999px;
    width: 32px;
    min-width: 32px;
    height: auto;
}

.css-1w9eatj {
    text-transform: none;
    font-size: 14px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    color: var(--primary-color);
}
.css-1w9eatj:hover {
   text-decoration: underline;
}
.css-1slrani {
    border-radius: 8px;
    background: rgba(203, 215, 255, 0.03);
    padding: 24px;
    text-align: -webkit-auto;
}
.css-191t7fp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-1x7hz3d {
    margin-bottom: 16px;
    line-height: 1.6;
    color: rgb(177, 182, 198);
    font-size: 14px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.css-1vhuwci {
    display: inline-block;
    flex: 0 0 auto;
    line-height: 0;
    width: 20px;
    min-width: 20px;
    height: auto;
}
.css-kaz972 {
    color: rgb(255, 255, 255);
    margin: 0px 16px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
.css-1lgqybz {
    display: inline-block;
    border-radius: 999px;
    width: 20px;
    min-width: 20px;
    height: auto;
}
.css-wrt0jz {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.1s ease 0s;
    appearance: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
    height: 48px;
    border-radius: 8px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 12px;
    color: #fff;
    background: var(--primary-color);
    box-shadow: var(--primary-color) 0px 0px 10px, rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.15) 0px -3px 0px inset, var(--primary-color) 0px 0px 15px inset;
    width: 160px;
    min-width: 160px;
    margin-left: 16px;
    padding: 0px 20px;
    white-space: normal;
}


@media (max-width: 1024px) {
    .css-xzyayo {
        padding: 30px;
    }
}

@media (max-width: 1024px) {
    .css-17zcsfw {
        padding: 30px;
    }
}
@media (max-width: 599px) {
    .css-17zcsfw {
        padding: 0px;
        -webkit-box-align: stretch;
        align-items: stretch;
    }
}
@media (max-width: 767px) {
    .css-1h2fqou {
        padding-top: 16px;
    }
}
@media (max-width: 767px) {
    .css-1h2fqou {
        padding: 24px 16px;
    }
}
@media (max-width: 599px) {
    .css-xzyayo {
        padding: 16px;
    }
}
@media (max-width: 599px) {
    .css-1yogdko {
        scrollbar-width: none;
    }
}